:root{
    --background: #F7F6F1;
    --primary-font: #204665;
    --secondary-font: #646967;
    --tertiary-font: #7A8FA0;
    --highlight: #FBF4B0;
    --fontBlue: #204665;
    --fontGrey: #646967;
    --backBlue: #E2EAF1;
    --backGrey: #ECECEC;

    --serif: 'Libre Baskerville', serif;
    --sans-primary: 'Quicksand', sans-serif;
    --sans-secondary: 'Lato', sans-serif;
}

.footer-container{
    font-family: var(--sans-primary);
    color: var(--primary-font);
    display:flex;
    justify-content: center;
}

.footer-container p{
    justify-content: center;
    display: flex;
    margin-top: 0;
}

.social-icons{
    font-size: 20px;
    align-items: center;
    margin-bottom: 0;
}