:root{
    --background: #F7F6F1;
    --primary-font: #204665;
    --secondary-font: #646967;
    --tertiary-font: #7A8FA0;
    --highlight: #FBF4B0;
    --fontBlue: #204665;
    --fontGrey: #646967;
    --backBlue: #E2EAF1;
    --backGrey: #ECECEC;

    --serif: 'Libre Baskerville', serif;
    --sans-primary: 'Quicksand', sans-serif;
    --sans-secondary: 'Lato', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 20px;
    background-color: var(--background);
    color: var(--primary-font);
    font-family: var(--serif);
}

nav a{
    margin: 0 20px;
    text-decoration: none;
    color: var(--primary-font);
}

.nav-logo{
    margin-left: 100px;
    font-size: 30px;
    font-weight: 500;
    cursor: pointer;
}
.nav-menu{
    margin-right: 80px;
    margin-left: auto;
}
.nav-item{
    font-size: 18px;
    font-weight: 400;
    font-family: var(--serif);
    background-position: 0% -80%;
    background-image: linear-gradient(to top, var(--background) 50%, var(--backBlue) 50%);
    background-size: auto 200%;
    transition: background-position 0.3s ease-out 0s;
}

.nav-item:hover{
    background-position: 0% -20%;
}

header .nav-btn{
    padding: 5px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--primary-font);
    visibility: hidden;
    opacity: 0;
    font-size: 25px;
}

@media only screen and (max-width: 960px){
    .nav-logo{
        margin-left: 30px;
    }
    header .nav-btn{
        visibility: visible;
        opacity: 1;
        margin-right: 30px;
    }
    header nav{
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 25px;
        background-color: var(--background);
        transform: translateY(-100vh);
    }

    header .responsive_nav{
        transform: none;
        transition: 0.5s ease-in-out;
    }

    nav .nav-close-btn{
        position: absolute;
        top: 20px;
        right: 20px;
    }

    nav a{
        font-size: 20px;
    }
}